.container img{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius: 40px;
    margin-left: 30px;
    flex-basis: 25%;
    
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 50px;
    grid-auto-flow:row;
    
}



p{
    border: 5px solid black;
    border-radius: 20PX;
    font-size: large;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 153, 0);
    display:grid;
column-gap: 100px;
    
}
    
.one{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding-bottom: 20px;
    
    
}

